<div class="admin-profile">
  <h2>Mi Perfil</h2>
  
  <div *ngIf="isLoading">Cargando información del administrador...</div>
  
  <div *ngIf="error" class="error-message">{{ error }}</div>
  
  <div *ngIf="!isLoading && !error && admin">
    <div>
      <label>Usuario:</label>
      <span>{{ admin.usuario }}</span> 
    </div>
    <div>
      <label>Contraseña:</label>
      <span>**********</span>
    </div>
    
    <h3>Cambiar Contraseña</h3>
    <input type="password" [(ngModel)]="newPassword" placeholder="Nueva Contraseña">
    <button (click)="updatePassword()" [disabled]="!newPassword">Actualizar Contraseña</button>
  </div>
  </div>
<button pButton type="button" icon="pi pi-sign-out" (click)="logout()" class="p-button-text p-button-rounded" pTooltip="Logout" tooltipPosition="bottom"></button>
  