<p>news</p>

<form (ngSubmit)="saveNews()" #newsForm="ngForm">
  <div>
    <label for="titulo">Titulo: </label>
    <input type="text" id="titulo" [(ngModel)]="news.titulo" name="titulo" required>
  </div>
  <div>
    <label for="descripcion">Descripcion: </label>
    <input type="text" id="descripcion" [(ngModel)]="news.descripcion" name="descripcion" required>
  </div>
  <div>
    <label for="imagen">Imagen: </label>
    <input type="file" id="imagen" (change)="onFileSelected($event)" name="imagen" accept="image/*">
  </div>
  <div>
    <label for="fechaPublicacion">Fecha de publicacion: </label>
    <input type="date" id="fechaPublicacion" [(ngModel)]="news.fechaPublicacion" name="fechaPublicacion" required>
  </div>
  <button type="submit">{{news.idnews ? 'Actualizar' : 'Publicar'}} Anuncio</button>
</form>

<hr>

<h3>Lista de Anuncios</h3>

<p-table [value]="newsList" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Fecha de Publicacion</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-anuncio>
        <tr>
            <td>{{anuncio.idnews}}</td>
            <td>{{anuncio.titulo}}</td>
            <td>{{anuncio.descripcion}}</td>
            <td>
                <img *ngIf="anuncio.imagen" [src]="'data:image/jpeg;base64,' + anuncio.imagen" alt="Imagen del anuncio" style="max-width: 100px; max-height: 100px;">
            </td>
            <td>{{anuncio.fechaPublicacion | date:'dd/MM/yyyy'}}</td>
            <td>
                <button (click)="editNews(anuncio)">Editar</button>
                <button (click)="deleteNews(anuncio.idnews)">Eliminar</button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{newsList.length}} anuncios.
        </div>
    </ng-template>
</p-table>

<button pButton type="button" icon="pi pi-sign-out" (click)="logout()" class="p-button-text p-button-rounded" pTooltip="Logout" tooltipPosition="bottom"></button>