<p>Login</p>
<hr>
<form (ngSubmit)="login()" id="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput type="text" [(ngModel)]="admin.usuario" [ngModelOptions]="{standalone:true}" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="admin.contrasenia" [ngModelOptions]="{standalone:true}" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Ingresar</button>
</form>
